#container{
    background-color:#f0f0f0;
    margin: 0 15%;
}

h1{
    height: 70px;
    color: azure;
    background:cornflowerblue ;
    line-height: 70px;
    text-indent: 70px;
}

#nav{
    text-align: center;
}

#nav li{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: cornflowerblue;
    line-height: 30px;
    border: 1px solid cornflowerblue; /*边框*/
    border-radius: 0 10px;
}

#nav li a{
    text-decoration: none;
}